@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

@media all and (min-width: 100px) {
  #valor {
    width: 10px;
  }
}

.footer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    padding-bottom: 1%;
}

.footer-mas{
    position: absolute;
    left: 95%;
}

html, body{
    margin: 10px;
    height: 83%;
}

#book-list, #add-book, #tabbed-content {
    margin: 30px;
}

#valor{
    width: 18vh;
    border-bottom: 1px solid rgb(78, 78, 78);
    border-top: none;
    border-right: none;
    border-left: none;
    font-family: Montserrat;
    font-size: 16px;
    background-color: black;
    color: white;
}

html{
    font-family: Montserrat;
}

.ocultar{
    background: white;
    padding: 6px;
    border-radius: 0px;
    cursor: pointer;
    color: black;
    margin-right: 8px;
    margin-top: 7px;
    border: 1px solid white;
    font-family: Montserrat;
}

.ocultar:hover{
    border: 1px solid black;
    color: black;
    transition: ease-in-out 0.3s;
}

input:focus{
    outline:none;
} 

button:focus{
    outline:none;
} 

body{
    font-family: Questrial;
    color: #444;
    letter-spacing: 1px;
    background-color: #000000;
}

h1, h2{
    font-weight: normal;
}

#wrapper{
    width: 90%;
    max-width: 960px;
    margin: 20px auto;
    border-radius: 6px;
    box-shadow: 0px 1px 6px rgba(0,0,0,0.2);
    box-sizing: border-box;
    padding: 0 0 20px;
    overflow: hidden;
}

#page-banner{
    background: black;

}

#page-banner h1, #page-banner p{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

#page-banner input{
    width: 90%;
    max-width: 300px;
    margin: 20px auto;
    display: block;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #444;
}

#book-list, #add-book, #tabbed-content{
    margin: 30px;
}

#book-list ul, #tabbed-content ul{
    list-style-type: none;
    padding: 0;
}

#book-list li{
    padding: 20px;
    border-left: 5px solid yellow;
    border-right: 5px solid yellow;
    margin: 20px 10px;
}

#book-list li:hover{
    border-color: #ffffff;
}

.name{
    font-weight: bold;
    padding-right: 100vh;
    margin-bottom: 20vh;
    color: white;
}

.delete{
    float: right;
    background: #000000;
    padding: 6px;
    border-radius: 0px;
    cursor: pointer;
    color: white;
    border: 1px solid rgb(242, 255, 97);
}

.edit{
    float: right;
    background: #000000;
    padding: 6px;
    border-radius: 0px;
    cursor: pointer;
    color: white;
    margin-right: 8px;
    border: 1px solid yellow;
}

.save{
    float: right;
    background: #000000;
    padding: 6px;
    border-radius: 0px;
    cursor: pointer;
    color: white;
    margin-right: 8px;
}

.back{
    float: right;
    background: #000000;
    padding: 6px;
    border-radius: 0px;
    cursor: pointer;
    color: white;
    margin-right: 8px;
}

.done{
    float: right;
    background: black;
    border: 1px solid yellow;
    padding: 6px;
    border-radius: 0px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    margin-right: 8px;
}

.done:hover{
    background: rgb(144, 255, 97);
    color: black;
    transition: ease-in-out 0.5s;
}

.back:hover{
    background: #333;
    transition: ease-in-out 0.5s;
}

.edit:hover{
    background: #333;
    transition: ease-in-out 0.5s;
}

.delete:hover{
    background: #333;
    transition: ease-in-out 0.5s;
}

.save:hover{
    background: #333;
    transition: ease-in-out 0.5s;
}

#add-book{
    width: 400px;
    margin: 0 auto;
    color: white;
}

#add-book input{
    display: block;
    margin-left: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 4px 0 0 4px;
    box-sizing: border-box;
    width: 290px;
    float: left;
    clear: both;
}

#add-book button{
    border: 1px solid;
    padding: 10px 20px;
    font-size: 16px;
    display: inline-block;
    margin: 0;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    width: 100px;
    float: left;
    border-left: 0;
    color: white;
}

#add-book button:hover{
    background-color: black;
}

#add-book:after{
    content: '';
    display: block;
    clear: both;
    background-color: #000000;
}

#add-book #hide{
  width: 30px;
}

#add-book label{
  line-height: 52px;
}

#tabbed-content li{
    display: inline-block;
    padding: 10px 14px;
    background: #ddd;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

#tabbed-content .panel{
    display: none;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 4px;
}

#tabbed-content .panel.active{
    display: block;
}

.add-button:hover{
    background-color: #000000;
}